<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TMØ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="text-content">
    Need help deciding if you need another palette? <b>TMØ</b> is here to help! 
    <br />
    <br />
    Simply upload a photo of the object of indecision, click on a pan, and when the color preview looks correct click the Add button to
    add it to your picked colors. As you add pans <b>TMØ</b> will sort your picked colors so you can look objectively at the product sans distracting packaging and layout.
    <br />
    <br />
    If you feel like the colors are not sorting intuitively, that's totally valid! This app uses a simple algorithm to try and group together "like" colors,
    but using computers to sort colors is still a very interesting <a href="https://www.alanzucconi.com/2015/09/30/colour-sorting/">unsolved problem</a>. 
    If you have any suggestions on how to improve this algorithm or any other feedback feel free to shoot me a message <a href="https://goo.gl/forms/K4IERsWRvFpUSCEP2">here</a>. 
    <br />
    <br />
    <i>
        <b>TMØ</b> is named for a popular pair of acronyms in the online makeup community: TMO/TMI, which stand respectively for Talk Me Out and Talk Me In. 
     These abbreviations are often seen on Reddit when users post descriptions of products and their existing collection and ask other users for thoughts on whether the new product is worth it.
     This app is also inspired by a trend that was on 
     <a href="https://www.reddit.com/r/MakeupAddiction/">r/MakeupAddiction</a> in January 2018, where users were rearranging palettes in rainbow order and 
     noting ways the original layout would obscure dupes and make the product look more appealing to consumers.
    </i>
  </div>