<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TMØ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="centered-content">
      <span class="upload-bar">
        <span class="upload">Upload an image:</span>
        <label class="btn btn-outline-dark" style="margin-bottom: 0">
            Browse&hellip; 
            <input id="myInput" type="file" style="display: none;" accept="image/*" multiple="false">
        </label>
      </span>
      <div class="color-picker">
          <canvas id="myCanvas" width="0" height="0"></canvas>
          <app-confirm-module [hex]="hex" (addColor)="addColorToList($event)"></app-confirm-module>
      </div>
      <app-picked-colors></app-picked-colors>
  </div>
  <img id="hiddenImage" class="hidden-image" src=''>